* {padding: 0;margin: 0;}
body { font-family: 'Source Sans Pro', Arial, sans-serif; font-size:12px; text-rendering: optimizeLegibility; font-smooth: auto;}
input, select, textarea, button {font-family:inherit;}
.branding {min-height:600px; background:#42336D url('img/logo-single.svg') no-repeat right 20%; background-size:90%}
.navbar, .hero, .content-wrapper {margin:0 auto; width:980px;clear:both;}

.hero {position:relative; top:5.5em; left:4em; }
.hero h1 {clear:both;font-size:7em; font-weight:900; color:#fff; text-transform: uppercase;}
.hero p {width:40%; padding-left:0.25em; font-size:1.75em; font-weight:300; color:#A88AFF}

.navbar {padding-top:3em; clear:both;}
.navbar img {display:block; float:left; width:152px; display: inline-block;}
.navbar ul.primary {margin-left:55px; line-height:4;display:block; float:left; }
.navbar li { display: inline-block; padding: 0 10px;}
  .navbar li a {color:#fff; font-size:1.2em; font-weight:600; text-decoration: none;}
    .navbar a:hover { color: #ff7800;}
  .navbar li .fa-search {cursor:pointer; color:#ff7800;}
.navbar ul.secondary {line-height:5; display:block; float:right;}
  .navbar ul.secondary li {padding:0 2px;}
  .navbar button {cursor:pointer; padding:10px 25px; font-size: 1.2em; border-radius:20px; background-color:#FF7800; border:none; color:#fff;}
    .navbar button:hover {background-color:#E24329;}

.content-wrapper {display:flex; flex-direction:row; flex-wrap:nowrap; position:relative; top:-180px; width: 970px; padding:1em; background:#fff; border:1px solid #D9D9D9; box-shadow: 5px 5px 0px rgba(77, 77, 77, 0.2);}
  .content {padding:2em;}
  .content h2 {font-size:2em; padding: 0.5em; font-weight:300; color:#898989;}
  .primary-col {padding-right:2em; }
    .primary-col section {margin-bottom:2em; padding:1em; display:block; width:100%; clear:both;  }
    .primary-col img {display:block; float:left; padding-right:1.5em; width: 164px;}
    .primary-col h4 a {font-size:1.8em; color:#544B89; font-weight:bold; text-decoration: none;}
      .primary-col h4 a:hover {color:#3e3866;}
    .primary-col section p {margin-bottom:0.5em; font-size:1.35em; color:#7D7D7D;}
  .secondary-col {background-color:#E9E6F6; display:inline-block; width:55%;}
  .secondary-col .content {padding:3em 1.3em;}
    .secondary-col h2 {padding:0; font-size:1.2em; color:#42336D; text-align:center; text-transform: uppercase;}
      .secondary-col h2 span {font-size:2.1em; font-weight:900; display:block; text-transform: none;}
    .secondary-col p {margin:0; padding:0; color:#42336D; font-size:1.2em; text-align:center; font-style:italic;}
    form {margin-top:2em;}
    .label {margin:1em 0;}
    label {margin:1em 0;font-size:1.2em;}
    input[type="text"] {display:block; clear:both; height:30px; width:90%; padding:0.25em; border:none; background:none; border-bottom:1px solid #B9B8BF; color:#42336D; font-size:2em; font-style:italic; color:#544B89;}
      input[type=text]:focus {border-bottom:1px solid #544B89;}
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #C5BAFF;
      font-style:italic;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #C5BAFF;
      font-style:italic;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #C5BAFF;
      font-style:italic;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #C5BAFF;
      font-style:italic;
    }
    .checkbox {width:100%; padding-top:0.5em;}
    input[type="checkbox"] {margin-right:0.5em;}
    input[type="submit"] {width:45%;cursor:pointer; margin:2em 0; padding:10px 25px; font-size: 1em; border-radius:20px; background-color:#FF7800; border:none; color:#fff; text-transform: uppercase;}
      input[type="submit"]:hover {background-color:#E24329;}
    .footer {margin:2em 0;text-align:center;}

.thank-you {width:100%; height:100%; background: url('img/thankie.gif') no-repeat center center fixed; background-size: cover; }


@media only screen and (max-width: 600px) {
    .wrapper {min-width:100%; max-width:100%; overflow:hidden;}
    .hero, .content-wrapper {max-width:100%;}
    .navbar img {padding-left:2em;}
    .navbar ul.primary, .navbar ul.secondary {display:none;}
    .branding {width:100%;background-size:170%;}
    .hero h1 {margin:0; padding;0; font-size:4em; margin:0 auto; }
    .hero p {font-size:1.75em; width:75%;}
    .content {margin:0; padding:0;}
    .content-wrapper {display:flex; flex-direction:column-reverse; flex-wrap:nowrap; position:relative; margin:0; padding:0; border:0; box-shadow:none;}
    .secondary-col {background-color:#dad7f4; display:inline-block; width:100%;}
    .primary-col img {display:none;}
    .primary-col section {margin-bottom:0.5em;}
    .primary-col h4 a {}
    input[type="submit"] {width:95%;}
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
}}
}
